*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    background-color: antiquewhite;
}
a{
    text-decoration: none;
    height: 100%;
    width: auto;
    display: grid;
    place-content: center;
}
a:hover{
    cursor: pointer;
}
img{
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
.section1{
display: grid;
grid-template-columns: repeat(7,1fr);
grid-template-rows: auto;
 }
.section2{
   display: grid;
   grid-template-columns: repeat(6,1fr);
   grid-template-rows: auto;
}
#section3{
   display: grid;
   grid-template-columns: repeat(6,1fr);
   grid-template-rows: repeat(2,auto);
}
#section4{
    display: flex;
    margin: auto;
   width: 67%;
 }
 #temlate{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,auto);
 }
