#topBar{
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    background-color: #fff;
    width: 100%;
    min-height: 78px;
    max-width: 92%;
    margin: auto;
    border-bottom: 1px solid #eaeaec;
}
#topBar>div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
}
#topBar>div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}
#topBar>div:nth-child(2)>a{
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: 600;
    font-family: Whitney,Helvetica,Arial,sans-serif!important;
    color: #696B79;
}
#topBar>div:nth-child(2)>a:hover{
    color: #ff3f6c;
    border-bottom: 3px solid #ff3f6c;
}
#topBar>div:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
}
#container{
    width: 90%;
    height: auto;
    display: flex;
    margin: auto;
    margin-top: 50px;
}
#leftContainer{
    box-sizing: border-box;
    display: inline-block;
    width: 67.5%;
    vertical-align: top;
    border-right: 1px solid #eaeaec;
    padding-right: 35px;
    margin-top: 30px;
}
#rightContainer{
    display: inline-block;
    width: 32.5%;
    vertical-align: top;
    padding: 35px 0 0 35px;
}
#leftContainer>div:first-child{
    background: #fff;
    margin-bottom: 10px;
    padding: 16px 18px 12px;
    border: 1px solid #eaeaec;
    border-radius: 4px;
    font-size: 13px;
    position: relative;
}
#leftContainer>div:first-child>button{
    background-color: white;
    border: 0px;
    color: #ff3f6c;
    padding-left: 17px;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
}
#payment{
    display: block;
}
#payment>div:first-child{
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 26px 12px;
    font-family: Whitney,Helvetica,Arial,sans-serif!important;
}
.text a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: Whitney,Helvetica,Arial,sans-serif!important;
    color: black;
    border-bottom: 4px solid #ff3f6c;
}
.text a:hover{
    color: #ff3f6c;
}
#payment>div:nth-child(2){
    margin-top: 16px;
    margin-bottom: 16px;
    border: 1px solid #eaeaec;
    border-radius: 4px;
    background-color: #f4f4f5;
    display: grid;
    grid-template-columns: 30% 70%;
    box-sizing: border-box;
    height: 400px;
}
#paymentOptions{
    display: table-cell;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    line-height: 1.42857143;
    color: #424553;
}
#payment>div:nth-child(2)>div:first-child>div{
    border-bottom: 1px solid #eaeaec;
    border-right: 1px solid #eaeaec;
    border-left: 5px solid #f4f4f5;
    border-top: 0;
    font-size: 14px;
    cursor: pointer;
    height: 60px;
    align-items: center;
    display: flex;
    padding-left: 8px;
}
#payment>div:nth-child(3){
    margin-bottom: 32px;
    padding: 22px 36px 22px 44px;
    border: 1px solid #eaeaec;
    font-weight: 600;
    position: relative;
    line-height: 16px;
    background: #fff;
    display: flex;
    justify-content: space-around;
}
#payment>div:nth-child(3)>span:nth-child(2){
    color: #ff3f6c;
    /* float: right;                       *************edited by aru ********************* */
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
}
.priceOptions{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.priceOptions>iframe{
    height: 98%;
    border: 0px;
    width: 98%;
}
#bottomBar{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    border-top: 1px solid #eaeaec;
    padding-top: 10px;
}
#bottomBar>div:first-child{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}
#bottomBar>div:first-child>div>img{
    height: 50px;
    width: 50px;
}
#bottomBar>div:last-child{
    display: flex;
    float: right;
    font-size: 14px;
    padding: 10px 0;
}
#bottomBar>div:last-child>a{
    text-decoration: none;
    color: #282c3f;
    font-family: Whitney,Helvetica,Arial,sans-serif!important;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 600;
}
#rightContainer>div>div:nth-child(1){
    line-height: 15px;
    color: #535766;
    font-size: 12px;
    font-weight: 600;
    font-family: Whitney,Helvetica,Arial,sans-serif!important;
    margin-bottom: 5px;
}
#rightContainer>div>div:nth-child(2){
    padding-top: 16px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 2.5;
    color: #424553;
    font-family: Whitney,Helvetica,Arial,sans-serif!important;
}
#rightContainer>div>div:nth-child(3){
    font-weight: 600;
    font-size: 15px;
    padding-top: 16px;
    border-top: 1px solid #eaeaec;
    color: #3e4152;
    line-height: 16px;
    font-family: Whitney,Helvetica,Arial,sans-serif!important;
}
#charge>div{
    width: 60%;
    display: flex;
    justify-content: space-between;
}