/* topbar css */
#topBar{
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    background-color: #fff;
    width: 100%;
    min-height: 78px;
    max-width: 92%;
    margin: auto;
    border-bottom: 1px solid #eaeaec;
    margin-bottom: 30px;
}
#topBar>div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
}
#topBar>div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}
#topBar>div:nth-child(2)>a{
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: 600;
    font-family: Whitney,Helvetica,Arial,sans-serif!important;
    color: #696B79;
}
#topBar>div:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
}

/* text */

#text{
    width: 90%;
    margin: auto;
    font-size: 12px;
    font-weight: 600;
    color: #535766;
}

/* container */

#container{
    width: 90%;
    height: auto;
    display: flex;
    margin: auto;
    margin-top: 20px;
    font-family: Whitney,Helvetica,Arial,sans-serif!important;
}
#leftContainer{
    box-sizing: border-box;
    display: block;
    width: 67.5%;
    padding-right: 35px;
    margin-top: 30px;
    padding-left: 50px;
    cursor: pointer;
    box-shadow: 0 0 4px rgb(40 44 63 / 20%);
    border: 1px solid #eaeaec;
    margin-bottom: 8px;
    /* vertical-align: top;        edited by aru ************************************************************* */
    border-radius: 4px;
    position: relative;
}
#leftContainer>div{
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 100px;
    gap: 10px;
}
#name>span{
    font-weight: 600;
    font-size: 14px;
    color: #282c3f;
    text-transform: capitalize;
    word-break: break-all;
}
#address{
    display: grid;
    grid-template-columns: 500px;
}
#address>span{
    word-break: break-all;
    font-size: 13px;
    line-height: 1.42857143;
    color: #424553;
}
#mobile{
    display: flex;
}
#mobile>span:first-child{
    font-size: 13px;
    line-height: 1.42857143;
    color: #424553;
}
#mobile>span:last-child{
    font-weight: 600;
    font-size: 13px;
    line-height: 1.42857143;
    color: #424553;
}
#leftContainer>div>div:nth-child(4){
    width: 400px;
}
div>li{
    font-size: 14px;
    line-height: 1.42857143;
    color: #424553;
}
#btn{
    background-color: white;
    border: 1px solid black;
    padding: 10px 5px 10px 5px;
    border-radius: 4px;
    cursor: pointer;
}
#rightContainer{
    display: inline-block;
    width: 32.5%;
    vertical-align: top;
    padding: 35px 0 0 35px;
}
#rightContainer>div:first-child{
    margin-bottom: 30px;
}
#rightContainer>div>div:nth-child(1){
    line-height: 15px;
    color: #535766;
    font-size: 12px;
    font-weight: 600;
    font-family: Whitney,Helvetica,Arial,sans-serif!important;
    margin-bottom: 5px;
}
#rightContainer>div>div:nth-child(2){
    padding-top: 16px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 2.5;
    color: #424553;
    font-family: Whitney,Helvetica,Arial,sans-serif!important;
}
#rightContainer>div>div:nth-child(3){
    font-weight: 600;
    font-size: 15px;
    padding-top: 16px;
    border-top: 1px solid #eaeaec;
    color: #3e4152;
    line-height: 16px;
    font-family: Whitney,Helvetica,Arial,sans-serif!important;
}
#rightContainer>div>button{
    background-color: #ff3f6c;
    font-size: 14px;
    border-radius: 4px;
    padding: 14px;
    color: #fff;
    font-weight: 600;
    background: #ff3f6c;
    cursor: pointer;
    text-align: center;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 400px;
    margin: auto;
}
/* bottom bar css */
#bottomBar{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    border-top: 1px solid #eaeaec;
    padding-top: 10px;
}
#bottomBar>div:first-child{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}
#bottomBar>div:first-child>div>img{
    height: 50px;
    width: 50px;
}
#bottomBar>div:last-child{
    display: flex;
    float: right;
    font-size: 14px;
    padding: 10px 0;
}
#bottomBar>div:last-child>a{
    text-decoration: none;
    color: #282c3f;
    font-family: Whitney,Helvetica,Arial,sans-serif!important;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 600;
}